﻿.toggle-button-a {
    display: flex;
    align-items: center;
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    box-sizing: content-box;
    background-color: #00d1b233;
    cursor: pointer;
    transition: background-color .4s;
}

.toggle-button-a:has(:checked) {
    background-color: #00d1b2;
}

.toggle-button-a::before {
    position: absolute;
    left: 5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #00d1b2;
    content: '';
    transition: left .4s;
}

.toggle-button-a:has(:checked)::before {
    left: 50px;
    background-color: #ffffff;
}

.toggle-button-a::after {
    position: absolute;
    left: 26px;
    transform: translateX(-50%);
    color: #fff;
    font-size: .9em;
    content: '原文';
    transition: left .4s;
}

.toggle-button-a:has(:checked)::after {
    left: 71px;
    color: #4a4a4a;
    content: '信号';
}

.toggle-button-a input {
    display: none;
}


.toggle-button-b {
    display: flex;
    align-items: center;
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    box-sizing: content-box;
    background-color: #00d1b233;
    cursor: pointer;
    transition: background-color .4s;
}

.toggle-button-b:has(:checked) {
    background-color: #00d1b2;
}

.toggle-button-b::before {
    position: absolute;
    left: 5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #00d1b2;
    content: '';
    transition: left .4s;
}

.toggle-button-b:has(:checked)::before {
    left: 50px;
    background-color: #ffffff;
}

.toggle-button-b::after {
    position: absolute;
    left: 26px;
    transform: translateX(-50%);
    color: #fff;
    font-size: .9em;
    content: '和文';
    transition: left .4s;
}

.toggle-button-b:has(:checked)::after {
    left: 71px;
    color: #4a4a4a;
    content: '欧文';
}

.toggle-button-b input {
    display: none;
}